 /* frontend\src\index.css */
@import "tailwindcss";

:root {
 
  --bg-main: #0f172a;
  --bg-card: #1e293b;
  --bg-hover: #334155;

  
  --text-primary: #e2e8f0;
  --text-secondary: #94a3b8;

 
  --accent: #3b82f6;
  --accent-hover: #2563eb;

  
  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;

  
  --border: #334155;
}

 
body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
}


::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--bg-hover);
  border-radius: 10px;
}